<nav>
    <!-- main div section -->
    <div class="main-nav">

        <!-- name and logo -->
         <div class="title">
            <label> vaulty </label>
            <span>.</span>
         </div>

        <!-- menu list items -->
         <div class="menu-list">
            <ul>
                <li> home </li>
                <li> about </li>
                <li> contact us </li>
            </ul>
         </div>

        <!-- signup/signin buttons -->
         <div class="auth-section">
            <label> signup </label>
         </div>

    </div>
</nav>