nav{
    border: 1px solid;
    border-radius: 1rem;
    padding: 1px;

    .main-nav{
        // background-color: red;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-around;

        .title{
            text-transform: uppercase;
            font-weight: bolder;
        }

        .menu-list{

            ul{
                list-style: none;
                display: flex;
                padding: 0 1rem 0 1rem;

                li{
                    padding-left: .9rem;
                    text-transform: capitalize;
                }

            }
        }

        .auth-section{
            border: 2px solid;
            border-radius: .5rem;
            display: flex;
            align-items: baseline;

            label{
                padding: .5rem;
                text-transform: capitalize;
            }

            label:hover{
                font-weight: bold;
                cursor:pointer
            }
        }

    }
}