
.login-form{
    // background-color: yellow;
    padding: 1rem;
    display: flex;
    justify-content: space-around;

    .socials-login{
        border: 1px solid;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        min-width: 45%;
        min-height: fit-content;
        padding: 1rem .5rem;
        justify-content: center;

        .title{
            margin: auto;
            text-transform: capitalize;
            text-decoration: underline;
            text-underline-offset: .1rem;
            text-decoration-style: wavy;
            font-size: larger;
            font-weight: bold;
            font-style: italic;
        }

        .links-section{
            display: flex;
            flex-direction: column;
            padding:1rem 0;
            gap: 1rem;

            label{
                border: 1px solid;
                border-radius: .5rem;
                display: flex;
                justify-content: center;
                margin: auto;
                min-width: 90%;
                padding: .5rem;
                text-transform: capitalize;
                font-size: medium;
            }
            
            label:hover{
                font-weight: bold;
                cursor: pointer;
            }

        }

    }

    .email-login{
        border: 1px solid;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        min-width: 45%;
        min-height: fit-content;
        padding: 1rem .5rem;
        justify-content: center;

        .title{
            margin: auto;
            text-transform: capitalize;
            text-decoration: underline;
            text-underline-offset: .1rem;
            text-decoration-style: wavy;
            font-size: larger;
            font-weight: bold;
            font-style: italic;
        }

        form{
            min-height: 80%;
            padding: 2rem 0 .5rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            min-width: 90%;

            div{
                min-height: 3rem;

                label{
                    text-transform: capitalize;
                }

                input{
                    min-width: 90%;
                    display: flex;
                    margin: .2rem auto;
                    border-radius: .5rem;
                    outline: none;
                    min-height: 1.5rem;
                }
            }

            .forgot-password{
                text-align: right;
                text-transform: capitalize;
                padding: .5rem;

                a{
                    text-decoration: none;
                }
            }

            .forgot-password a:hover{
                text-decoration: underline;
                color: blue;
            }

            .login-button{
                display: flex;
                margin: auto;
                border: 2px solid;
                border-radius: .5rem;
                align-items: baseline;
                text-transform: capitalize;
                padding: .2rem 2rem;

                a{
                    text-decoration: none;
                    color: black;
                }    
            }

            .login-button:hover{
                // background-color: red;
                font-weight: bold;
            }

            .signup-redirect{
                display: flex;
                margin: auto;
                min-width: 90%;
                justify-content: center;
                margin-top: 1rem;
                font-size: small;
                text-transform: capitalize;
            }

            .signup-redirect a{
                text-decoration: none;
            }

            .signup-redirect a:hover{
                text-decoration: underline;
            }

        }


    }
}