<div class="login-form">

    <!-- Oauth section -->
    <section class="socials-login">
        <p class="title"> signin with socials</p>
        
        <div class="links-section">
            <label id="google"> continue with google </label>
            <label id="twitter"> continue with twitter </label>
            <label id="facebook"> continue with facebook </label>
            <label id="github"> continue with github </label>    
        </div>

    </section>

    <!-- email section -->
    <section class="email-login">
        <p class="title"> signin with email</p>

        <form>
            <div>
                <label> username/email </label>
                <br>
                <input type="text" placeholder="Enter username/email">
            </div>

            <div>
                <label> password </label>
                <br>
                <input type="text" placeholder="Enter password">
            </div>

            <label class="forgot-password">
                <a href="#"> forgot password? </a>
            </label>

            <label class="login-button"> 
                <a href="#"> login </a>
            </label>

            <p class="signup-redirect">
                <label> don't have an account? <a href="#"> signup </a> here </label>
            </p>

        </form>
        
    </section>
</div>