<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Hi {{name}},</h2>
    <p>
      To keep your Vaulty account secure, please verify your email address by
      clicking the button below:
    </p>

    <button style="text-align: center">
      <a href="{{verificationLink}}"> Verify Email</a>
    </button>

    <p>
      This helps us ensure that you (and only you) have access to your account.
    </p>

    <p>If you didn’t sign up for Vaulty, you can safely ignore this email.</p>

    <p>
      Thank you,<br />
      Vaulty Team.
    </p>
  </body>
</html>
