<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Welcome to Vaulty, {{name}} 🐔</h2>
    <p>
      We're excited to have you on board! Vaulty is your digital home
      for managing your farm with less stress and more control.
    </p>
    <p>
      From tracking your flock to protecting your data, we’ve got your back —
      feathers and all.
    </p>
    <p>
      But we are not done yet, you will receive an email shortly on {{email}} to
      verify your account
    </p>
    <p>
      Cheers,<br />
      Vaulty Team.
    </p>
  </body>
</html>
